.vscode/
.idea/
.DS_Store

*.pyc
__pycache__/

# ignore doc products
doc/*.md5
doc/*.ly
doc/*.svg
doc/*.png
doc/*.1
doc/*.html
doc/*.xml
!doc/article-docinfo.xml

# ignore the configure/make products
/autom4te.cache/
/config.*
/configure
Makefile
MANIFEST

/tags
/gh-pages/
build/
