language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8

addons:
  apt:
    packages:
      - docbook-xml
      - docbook-xsl
      - dvipng
      - graphviz
      - imagemagick
      - libxml2-utils
      - lilypond
      - source-highlight
      - texlive-latex-base
      - xsltproc

install: false

script:
  - python asciidoc.py --doctest
  - python asciidocapi.py
  - time python tests/testasciidoc.py run
  - git clean -x -f doc tests/data
  - autoconf
  - ./configure
  - xmllint --nonet --noout --valid /home/travis/build/asciidoc/asciidoc-py3/doc/asciidoc.1.xml
  - make
