dblatex/*
doc/a2x.1
doc/asciidoc.1
doc/asciidoc.conf
doc/article-docinfo.xml
doc/customers.csv
doc/*.txt
doc/asciidoc.dict
docbook-xsl/*
filters/**/*
filters/*.py
images/*.png
images/icons/callouts/*
images/icons/*.png
images/icons/README
javascripts/*.js
stylesheets/*.css
tests/data/*
tests/testasciidoc.py
tests/testasciidoc.conf
themes/**/*
website/*
*.conf
a2x.py
asciidoc.py
asciidocapi.py
BUGS.txt
build_website.sh
CHANGELOG.txt
configure
configure.ac
COPYRIGHT
Dockerfile
MANIFEST.in
install-sh
INSTALL.txt
Makefile
Makefile.in
README.asciidoc
