dblatex/*
doc/asciidoc.conf
doc/article-docinfo.xml
doc/customers.csv
doc/*.txt
doc/*.1
doc/asciidoc.dict
docbook-xsl/*
filters/**/*
filters/*.py
images/*.png
images/icons/callouts/*
images/icons/*.png
images/icons/README
javascripts/*.js
stylesheets/*.css
tests/data/*
tests/testasciidoc.py
tests/testasciidoc.conf
themes/**/*
website/*
*.conf
*.sh
*.py
BUGS.txt
CHANGELOG.txt
configure
configure.ac
COPYRIGHT
Dockerfile
MANIFEST.in
install-sh
INSTALL.txt
Makefile
Makefile.in
README.asciidoc
